*{
  font-size: 30px;
}


html{
  scroll-behavior:smooth;
}




*{
    background-color: black;
    color : antiquewhite;
   

}
.li{

display: inline-block;
justify-content: right;
padding: 10px;
font-size: 20px;
cursor: pointer;
margin-top: -25px;


}
.left{
    font-size: 80px;
    display: flex;
    margin-left: 1050px;
    cursor: pointer;
}


.left:hover{
    color: rgb(198, 133, 48); 
}
.li:hover{
    color:rgb(174, 131, 77);
    font-size: 30px;
}
.intro{
    color: rgb(123, 121, 121);
    font-size: 45px;
    font-weight: 50px;
    margin-left: 40px;
    margin: 80  0;
}
.intr{
font-size: 30px;
margin-left: 40px;
margin: 80  0;
}
.intro2{
font-size: 30px;
margin-left: 40px;
margin: 80  0;
}
.leftsec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 130 0
    
     

}
.rightsec{
    display: flex;
    justify-content: right;
    height: 400px;
    border-radius: 100px;
    margin-bottom: 500px;
    margin-top: -170px;
    margin-right: 90px;
   
}
.garima{
    color: rgb(151, 20, 114);
}
.prof{
    color: rgb(138, 3, 57);
}
#element{
    color: pink;
}
.pg{
    max-width:80vw;
    margin:auto;
    height:80vh;
    
}
hr {
    width: 80%;         /* 80% of the container width */
    height: 2px;        /* Thickness of the line */
    background-color: #db4eb1; /* Line color */
    border: none;       /* Removes default border */
    
    margin: -50px auto 20px; 
    transform: translateY(-30px); /* Adds space above and below, centers horizontally */
  }
  h{
    font-size: 40px;
    color: rgb(151, 20, 114);
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;

  }
  .what{
    color: aliceblue;
    display: flex;
    margin-left: 45px;
    font-size: 20px;
  }
  .box{
    background-color: aliceblue;
    width: 80vw;
    height:2px;
    margin: 20px;
  }
  .whatnot{
    color: aliceblue;
    display: flex;
    margin-left: 125px;
    font-size: 20px;
  }
  .hw{
    margin-left: 120px;
    margin-top: 20px;

  }
  .lor{
    margin-left: 120px;
    height:500px;
    font-size:20px;
  }
  .insta{
    height:40px;
    width:40px;
    
    background-color: white;
    border-radius: 50%;
display: flex;
margin-top: -420px;
margin-left: 150px;
  }
  .linkden{
    height:40px;
    width:40px;
    
    background-color: white;
    border-radius: 50%;
    
    margin-left: 550px;
    position: relative; /* or absolute, fixed */
    top: -35px; 


  }
  .linkden:hover{
    background-color: rgb(147, 149, 150);
    size:30px;
    cursor: pointer;
    

  }
  .insta:hover{
    background-color: rgb(8, 9, 9);
    size:30px;
    cursor: pointer;
  }
  .gmail{
    height:40px;
    width:40px;
    
    background-color: white;
    border-radius: 50%;
    
    margin-left: 1000px;
    position: relative; /* or absolute, fixed */
    top: -80px; 
  }
  .whatsapp{
    width:70px;
    height:50px;
    background-color: white;
    border-radius: 90%;
    
    margin-left: 1350px;
    position: relative; /* or absolute, fixed */
    top: -130px; 
  }

  